
#footer{
  /*color: red;*/
  position:sticky;

  display: flex;
  justify-content: center;
}

#footerContent div{
  display:block;
  /*min-width:1000px;*/

  min-height: 50px;
  margin-left: auto;
  margin-right: auto;

}

#footerContent ul{
  /*max-width: 200px;*/
  display: inline-block;
  list-style: none;
  /*background-color: red;*/
  padding: 0;
  margin-left: auto;
  margin-right: auto;

}

#footerContent li{
  text-align: center;
  float:left;
  min-width: 50px;
}
