doctype html
html(lang="en")
  include ../includes/commonVars.pug

  - var page = "Education"
  - var styleFiles = styleFiles.concat("education.css", "home.css")

  include ../includes/commonHead.pug

  //- include ../_assets/content/frontPageContent.pug

  body.Site
    include ../includes/header.pug

    main.content

      .lookAtThese-wrap.subContent
        .lookAtThese
          +lookAtMe("Indiana University", "http://www.iub.edu/~iubphys/", imagePath + "iu.png", "background-color:rgb(152,4,12);background-size:200px 200px; background-position:center;")
            p.degree Bachelors in Science
            p.specialization Physics
          +lookAtMe("Indiana University","http://www.soic.indiana.edu", imagePath + "iu.png", "background-color:rgb(152,4,12);background-size:200px 200px; background-position:center;")
            p.degree Masters in Science
            p.specialization Computer Science
          +lookAtMe("University of Alberta", "http://www.ualberta.ca", imagePath + "uofa-logo.png", "background-color:white;background-size:200px 150px; background-position:center;")
            p.degree PhD in Computer Science
            p.specialization Machine Learning and Reinforcement Learning

    include ../includes/footer.pug
    
