doctype html
html(lang="en")
  include ../includes/commonVars.pug

  - var page = "Home"
  - var styleFiles = styleFiles.concat("home.css","quotes.css","about.css","lookatme.css","contact.css", "publications.css", "research_interests.css")
  - var marthaWebsite = "https://webdocs.cs.ualberta.ca/~whitem/"
  - var adamWebsite = "http://adamwhite.ca"

  include ../includes/commonHead.pug

  //- include ../_assets/content/frontPageContent.pug

  body.Site
    include ../includes/header.pug

    main.content

      .aboutWrapper
        .aboutContent.subContent#aboutMe
          img(src = "assets/images/me.gif")#headshot
          .subSubContainer
            p.
              A PhD student at the University of Alberta in Edmonton actively researching in reinforcement learning and machine learning.
            include ../includes/contact.pug
            //- h2 About Me
            //- p.
            //-   I am a current PhD student at the University of Alberta in Edmonton, working under <a href=#{marthaWebsite}>Dr. Martha White</a>. Previously, I attended Indiana University - Bloomington and recieved a Bachelor of Science in Physics (2015) and Masters of Science in Computer Science (2017).
            //- p.
            //-   I spend my time away from my research listening to my favorite music, playing clarinet, enjoying a good book or movie, and tinkering with various tech and circuits. I also enjoy reading tech news, recent research in physics, and anything related to space and AI.

      .lookAtThese-wrap.subContent
        .lookAtThese
          //- +lookAtMe("Github", "https://github.com/mkschleg", imagePath + "github-icon.png", "background-color:rgb(60,60,60);background-size:200px 200px; background-position:center;")
          //-   p Visit my Github to get a look at some of my open-source code.
          //- +lookAtMe("Linkedin","https://www.linkedin.com/in/matthew-schlegel-1a00b739/", imagePath + "linkedin-icon.jpg", "background-color:rgb(19,127,176);background-size:200px 200px; background-position:center;")
            //- p Visit my Linkedin profile for up to date information about my skills and current professional work.
          //- +lookAtMe("Blog", "https://mkschleg.github.io/blog", "", "background-color:white;")
          //-   p Check out my blog!
          +lookAtMe("General Value Function Networks", "https://arxiv.org/abs/1807.06763", imagePath + "AdamNN_v2.jpg", "background-color:white;")
          +lookAtMe("Adapting Kernel Representations Online Using Submodular Maximization", "http://proceedings.mlr.press/v70/schlegel17a.html", imagePath + "teleTiming.jpg", "background-color:white;")

      include ../includes/publications.pug
      include ../includes/research_interests.pug

    include ../includes/footer.pug
