doctype html

mixin paper(title, authors, conference, year)
  .paperWrapper
    h1 #{title}.
    p #{authors}. #{conference}, #{year}.

    //- p.paper= quote
    //- p.author=author + ", " + year
    

html(lang="en")
  include ../includes/commonVars.pug
  
  - var page = "Research"
  - var styleFiles = styleFiles.concat("publications.css")
  
  include ../includes/commonHead.pug
  body

    include ../includes/header.pug


    main.content
      
      include ../includes/publications.pug
      //- .subContent.mostRecentPaper
      //-   h2 Paper title
      //-   p.
      //-     Abstract/graphs/formating.
      //- 
      //- .subContent.activity
      //-   h2 Recent Events
      //-   p.
      //-     This is where my research activity will be.

    include ../includes/footer.pug
