mixin quote(author, year, quote)
  .quoteWrapper
    p.quote= quote
    p.author=author + ", " + year

- var marthaWebsite = "https://webdocs.cs.ualberta.ca/~whitem/"
- var adamWebsite = "http://adamwhite.ca"

.aboutContent.subContent
  h2 About Me
  .subContainer
    img(src = "assets/images/me.gif", width="128", height="128")
    .subSubContainer
      p.
        I am a current PhD student at the University of Alberta in Edmontown, working under <a href=#{marthaWebsite}>Martha White</a>. Previously, I attended Indiana University - Bloomington and recieved a Bachelor of Science in Physics (2015) and Masters of Science in Computer Science (2017). I am currently a research assistant at University of Alberta, and have been a teaching assistant at IU. My work focuses on General Value Function's use in creating predictive representations in reinforcement learning, in the use of kernel representations in online continuing settings, and in gaussian processes for reinforcement learning.
      p.
        I spend my time away from my research listening to my favorite music, playing clarinet, enjoying a good book or movie, and tinkering with various tech and circuits. I also enjoy reading tech news, recent research in physics, and anything related to space, rockets, and astrophysics.


.aboutContent.subContent
  h2 Research Interests
  p.
    My reasearch interests primarly fall within the realms of Reinforcement Learning, but I also dabble in time series and visual data. My main goal is to create agents
    that build their own representations of environments in a continual learning setting. My current work focuses on two types of representation learning. The first is
    using General Value Functions as a means to create predictive knowledge representations on the fly through question generation. The second is exploring the use of kernel representations and gaussian processes for prediction in an online setting and for reinforcememtn learning, particularly creating efficient methods to select prototypes for such representations.
