mixin quote(author, year, quote)
  .quoteWrapper
    p.quote= quote
    p.author=author + ", " + year

- var marthaWebsite = "https://webdocs.cs.ualberta.ca/~whitem/"
- var adamWebsite = "http://adamwhite.ca"


.aboutWrapper
  .aboutContent.subContent#aboutMe
    img(src = "assets/images/me.gif")
    .subSubContainer
      include ../includes/contact.pug
      h2 About Me
      p.
        I am a current PhD student at the University of Alberta in Edmonton, working under <a href=#{marthaWebsite}>Dr. Martha White</a>. Previously, I attended Indiana University - Bloomington and recieved a Bachelor of Science in Physics (2015) and Masters of Science in Computer Science (2017).
      p.
        I spend my time away from my research listening to my favorite music, playing clarinet, enjoying a good book or movie, and tinkering with various tech and circuits. I also enjoy reading tech news, recent research in physics, and anything related to space, rockets, and astrophysics.


  .aboutContent.subContent#reasearchInterests
    h2 Research Interests
    p.
      My reasearch interests primarly fall within the realms of Reinforcement Learning, but I also dabble in time series and visual data. My main goal is to create agents
      that build their own representations in a continual learning setting. My current work focuses on two types of representation learning. The first is
      using General Value Functions to create predictive knowledge representations on the fly through question generation. The second is exploring the use of kernel representations and gaussian processes for prediction in an online setting and for reinforcememtn learning, particularly creating efficient methods to select prototypes for such representations. To see my currently published work please go <a href="research.html"> here.</a> To see some of my open-source code/projects please go <a href="projects.html">here</a>, and to see a more complete history see below for my github account and linkedin account.
      
