
// - var styleSheets = ["Home" : "temp.css", "Publications" : "temp.css","Projects" : "temp.css","Code" : "temp.css","Blog" : "temp.css"]
head
  title Matthew Schlegel - #{page}
  meta(charset='UTF-8')
  if styleFiles != null
    each val in styleFiles
      link(rel="stylesheet" href=stylesFolder+val)
    each val in scriptFiles
      script(src=scriptsFolder+"lib/require.js" data-main=scriptsFolder+val)

    //- include ../styles_2/temp.css
    //- //- include ../styles_2/.css
    //- include ../styles_2/header.css
    //- include ../styles_2/footer.css
