
.subContent#contact
  p.job PhD Student and Research Assistant
  p.organization University of Alberta, Department of Computing Science
  p.email Email: 
    em mkschleg 
    | for 
    em gmail
    |  dot com and
    em  ualberta
    |  dot ca
