

.subContent#reasearchInterests
  .interest#interest_rl
    .interest_content
      h2 Reinforcement learning
      .interest_textcontent
        p.
          In the monolithic field of artificial intelligence reinforcement learning is focused on learning from interaction to maximize the reward recieved from an environment. Influenced from the Pavlovian conditioning (AKA: classical conditioning) and other psychological models, learning through extended streams of experience based off of delayed reward signals has the most potential to lead us to a general model for artificial intelligence (at least in my opinion). I work on many aspects of the reinforcement learning problem, but currently am focused on the use of general value functions for a means of representation.
  .interest#interest_deeplearning
    .interest_content
      h2 Deep Learning
      .interest_textcontent
        p.
          Deep learning is an extremely powerful way of transforming data into a predictive model without knowing anything about the distribution the data is sampled from. While it does have many problems (variance vs bias problem, high data requirements, and long training/convergence times), the models have demonstrated potential. I focus on how to learn deep networks for reinforcement learning (specifically for predictions with policy evaluation) in an online fassion. I also am interested in thinking of multi-network systems and where to disrupt training signals in the back propagation update. The debate on whether our systems should follow the tabula rasa or innatism ideologies keeps me up at night.

  .interest#interest_physics
    .interest_content
      h2 Physics and Space
      .interest_textcontent
        p.
          Physics played a huge role in my early academic life, and continues to be a source of fascination. Rocketry and space are a consistent focus of my interests but also enjoy following the work from CERN with the Large Hadron Collider.


    //- p.
    //-   My reasearch interests primarly fall within Reinforcement Learning, but I also dabble in visual data, and genearl machine learning. My main research goal is to create agents that learn their own representation in a continual learning setting. My current work focuses on several types of representation learning:
    //-   using General Value Functions to create predictive knowledge representations on the fly through question generation;
    //-   exploring the use of kernel representations and gaussian processes for in online settings and for reinforcement learning, particularly creating efficient methods to select prototypes for such representations;
    //-   and evaluationg deep architectures (primarily recurrent networks) for policy evaluation in partially observable markov decision processes. I'm currently working under <a href=#{marthaWebsite}>Dr. Martha White</a>.
    //- p.
    //-   To see my currently published work please go <a href="research.html"> here.</a> To see some of my open-source code/projects please go <a href="projects.html">here</a>, and to see a more complete history see below for my github account and linkedin account.



