
// - var styleSheets = ["Home" : "temp.css", "Publications" : "temp.css","Projects" : "temp.css","Code" : "temp.css","Musings" : "temp.css"]
head
  title Matthew Schlegel - #{page}
  each val in styleFiles
    link(rel="stylesheet" href=stylesFolder+val)
  //- else
  //-   each val in commonStyles
  //-     link(rel="stylesheet" href=stylesFolder+val)


    //- include ../styles_2/temp.css
    //- //- include ../styles_2/.css
    //- include ../styles_2/header.css
    //- include ../styles_2/footer.css
