/*.aboutContent.subContent{
  display: flex;
  flex-direction: row;
}*/


.tagline{

    margin-top: 30px;
    margin-bottom: 30px;
    text-align:center;

    align-content: center;
    justify-content:center;
}

.aboutWrapper{
  display: flex;
  flex-direction: row;
  padding-top: 35px;
  padding-bottom: 25px;
  /* background-color: rgb(85, 97, 109); */
  background-color: rgb(54, 61, 68);
  color: rgb(230,230,230);
}

.aboutContent.subContent {
    display: flex;
    align-items: center;
    max-width:1000px
}

.aboutContent.subContent .subContainer{
  /*display: flex;
  flex-direction: row;*/
    display: flex;
  float: left;
}

.aboutContent.subContent p{
    margin-bottom: 5px;
    
  /*display: flex;
  flex-direction: row;*/

}

.aboutContent.subContent img{

  /*max-width: 1000px;*/

  min-width: 200px !important;
  min-height: 200px !important;
  max-width: 200px !important;
  max-height: 200px !important;
  /*display: flex;*/
  /*flex-direction: row;*/
  
  float:left;
  margin-right: 30px;
  /* margin-bottom: 10px; */


}

.aboutContent.subContent .subSubContainer h2{
  margin-left: 10px;
  /*float:left;*/
}

.aboutContent.subContent#reasearchInterests h2{
  margin-top: 0px !important;
}
