
* {
  margin: 0px;
  padding: 0px;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
}

body {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  background-color: rgb(230,230,230);
  letter-spacing: 1px;
}

p {
    font-size: 14pt;
    
    
}

main.content{
  /* margin-left: 50px; */
  /* margin-right: 50px; */
  /* margin-top: 20px; */
  /* padding-top: 20px; */
    /* background-color: rgb(130,130,130); */
  flex-shrink: 1;
  flex-grow: 1;
  

}

/*wbr:after { content: "\00200B"; }*/

.subContent {
  /* max-width: 1000px; */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  text-align: justify;
}


.subContent p{
  padding-left: 20px;
  padding-right: 20px;
}
.subContent h, .subContent h2, .subContent h3{
  margin-bottom: 10px;
}

@media all and (max-width: 760px) {
  main.content{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0px;
  }
}




@media all and (max-width: 680px) {
  main.content{
    margin: 0;
    padding: 0;
  }
  .subContent{
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 20px;
  }
  .subContent p{
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* iPad [portrait + landscape] */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

}

/* iPhone [portrait + landscape] */
@media only screen and (max-device-width: 480px) {
  html{
    margin: 0px;
    padding: 0px;
  }
  main.content{
    margin: 0px !important;
    padding: 0px !important;
  }
  .subContent{
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .subContent p{
    padding-left: 15px;
    padding-right: 15px;
  }
}

/*.aboutContent h2{
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 20px;
}

.aboutContent p{
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}*/

/*body{
  margin: 0;
  min-height: 100%;
}*/

/*h1 {
  color: red;
}*/
