

/*.footer, .push {
    height: 155px; /* .push must be the same height as .footer
}*/


#footer {
  /*color: red;*/
  /*height: 142px; /* .push must be the same height as .footer */

  display: flex;
  align-items: center;
  justify-content: center;
  height:50px;
  min-height:50px;
  /*bottom: 0;*/
  background-color: #333;
  /* margin-top: 30px */
}

#footerContent div{
  display:block;
  /*min-width:1000px;*/

  /*height: 100px;*/
  /*margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;*/
  


}

#footerContent ul{
  /*max-width: 200px;*/
  display: inline-block;
  list-style: none;
  /*background-color: red;*/
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;

}

#footerContent li, #footerContent li a{
  text-align: center;
  float:left;
  min-width: 50px;
  
  color: rgb(230,230,230);
  text-decoration: none;
}



/* iPad [portrait + landscape] */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /*footer{
    font-size: 25pt;
    margin-top: 0px;
  }*/
}

/* iPhone [portrait + landscape] */
@media only screen and (max-device-width: 480px) {
  #footer{
    font-size: 30pt;
    min-height: 100px;
    max-height: 100px;
    margin-top: 0px !important;
    margin-right: 0px !important;
  }
}
