
/*.aboutContent{
  clear:both;
}*/

/* iPad [portrait + landscape] */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

}

/* iPhone [portrait + landscape] */
@media only screen and (max-device-width: 480px) {
  
  .subContent p{
    font-size: 25pt;
  }

  .subContent h2{
    font-size: 50pt;
  }
  
  .subContent{
    margin-bottom: 30px;
  }
  

}
