

.subContent {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: justify;
}


.subContent p{
    padding-left: 20px;
    padding-right: 20px;
}

.projectWrapper {
  
  margin-bottom: 10px;


}
