




.quoteWrapper{
  margin-top: 50px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  clear:both;
  justify-content: center;
  align-content: center;
}

p.author{
  align-self: flex-end;
  font-weight: bold;
}

p.quote{
  align-self: center;
  font-style: italic;
  max-width: 800px;
  /*min-width: 800px;*/
  margin-bottom: 10px;
}
