.subContent#reasearchInterests{
    padding-top: 20px;
    /* max-width:1000px; */
    display: flex;
    flex-direction:column;
    /* justify-content: center; */
    /* align-content: center; */
}

.subContent#reasearchInterests h1{
    /* border-bottom: 1px solid rgb(80, 91, 109); */
    /* justify-content: center; */
    text-align: center;

}

.interest{
    /* border-bottom: 1px solid rgb(80, 91, 109); */
    /* max-width:1000px; */
    padding-top:10px;
    padding-bottom:10px
}

.interest_content{
    display:flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    /* border-bottom: 1px solid rgb(80, 91, 109); */
    max-width:1000px;
    /* padding-top:30px; */
    padding-bottom:30px
}


#interest_rl{
    /* border-bottom: 0px solid rgb(80, 91, 109); */
    /* background-color: rgb(255,0,0); */
}
#interest_deeplearning{
    /* border-bottom: 0px solid rgb(80, 91, 109); */
    /* background-color: rgb(255,0,0); */
}
#interest_physics{
    /* border-bottom: 0px solid rgb(80, 91, 109); */
    /* background-color: rgb(255,0,0); */
}
